.reviews-title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.all{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
/* identical to box height */

text-align: center;

/* Green */

color: #479D83;
width: 50px;
white-space: nowrap;
}
.full-name{
    font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
/* identical to box height */



}

.title{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.name-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.stars{
    display: flex;
    gap: 5px;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.card-rev{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px ;
    background: #FFFFFF;
box-shadow: 5px 5px 10px rgba(224, 224, 224, 0.2), -5px -5px 10px rgba(224, 224, 224, 0.2), 5px -5px 10px rgba(255, 255, 255, 0.9), -5px 5px 13px rgba(224, 224, 224, 0.9);
border-radius: 10px;
}

@media screen and (max-width:630px) {
    .cards{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}